#/////////////////////////////////////////////////////////////////////////////
# Cocos Creator Projects
#/////////////////////////////////////////////////////////////////////////////

build/
library/
temp/
local/

#/////////////////////////////////////////////////////////////////////////////
# VSCode files
#/////////////////////////////////////////////////////////////////////////////

creator.d.ts
.vscode/